snippet inspect
	function inspect(item) { // for debugging
		console.log(require('util').inspect(item, {colors: true, depth: 30}))
	}

snippet inspec
	function inspect(msg, ...args) { // for debugging
		if (args.length) return console.log(msg, require('util').inspect(...args, {colors: true, depth: 30}))
		else console.log(require('util').inspect(msg, {colors: true, depth: 30}))
	}

	inspect(${0})
